**/target
**/classes
**/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
*.log
/.env
**/node_modules
**/.shadow-cljs
.cljs_node_repl
*tgz
.idea/
*.iml
ws-gateway/lib
**/gateway-web/node
**/gateway-web/web
**/gateway-ws/lib
